.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  max-width: 500px;
  margin-inline: auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroupLabel {
  display: block;
}

.formGroupInput {
  padding: 8px;
}

.formSubmit {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 8px;
}